<head>
  <title>{{ page.title | default: site.title }}</title>
  <meta charset="utf-8">
  <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"></link>
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet"> 
  <meta content="{{site.description}}" name="description"></meta>
  <meta content="{{site.owner}}" name="author"></meta>
  <meta content="Copyright {{ site.time | date: '%Y' }} {{site.owner}}. All rights reserved." name="copyright"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {%- seo title=false -%}
</head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RW9EMCG7CR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RW9EMCG7CR');
</script>
