body	{
	font-family: 'Cutive Mono', serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a:link, a:visited	{
	text-decoration: none;
	color:#000
}

a:hover	{
	text-decoration: underline;
}


#main {
	width: 50%;
	margin: 0 auto;
}

#nav {
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid #000;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#nav li {
	margin: 0 10px;
	display: inline flow-root list-item;
}

#nav li:first-child {
	list-style: none;
}

#content {
	text-align:center;
	margin:auto;
	margin-top:20px;
	padding-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
}

.post {}
.post__heading {}
.post__heading h1 {
	margin-bottom: 0;
}
.post__attributes {}
.post__revisions {}
.post__revisions h4 {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: left;
}

.post__revisions h4:before,
.post__revisions h4:after {
    content: '';
    border-top: 1px solid;
    margin: 0 0 0 0;
    flex: 1 0 20px;
}

.post__revisions {}

#footer {
	text-align:center;
	margin:auto;
	font-size:0.8em;
	margin-bottom:10px;
	padding-bottom:10px;
	border-top: 1px solid #000;
}

#logo	{
	text-align:center;
	margin: 0 auto;
}

#logo img {
	max-width: 50%;
}

#logo a {
    font-size: 4rem;
    font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

#content-left a:link, #content-left a:visited	{
	text-decoration: underline;
	color:#000
}

#content-left a:hover	{
	text-decoration: none;
}

#post-short a:link, #post-short a:visited	{
	text-decoration: none;
	color:#000
}

#post-short a:hover	{
	text-decoration: underline;
}

#post-short h3, #post h2	{
	margin-bottom: 0px;
}

#post-short i	{
	font-size:0.8em;
	color: grey;
}

#post i	{
	font-size:0.9em;
	color: grey;
}

#categories a, #categories a:link, #categories a:visited {
	background-color: grey;
	text-decoration: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 25px;
}

#categories a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 850px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}
}
